<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <thymeleaf th:replace="header :: header"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurpEx</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="css/userPage.css"/>

</head>

<body data-vide-bg="index">
<video autoplay muted loop id="myVideo">
    <source src="resources/index.mp4" type="video/mp4">
</video>

<div class="wrapper">
    <!--Sidebar-->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Services</h3>
        </div>
        <ul class="list-unstyled components">

            <li>
                <a href="hitmans">Hitmans</a>
            </li>
            <li>
                <a href="escorts">Escorts</a>
            </li>
            <li>
                <a href="framer">Framing</a>
            </li>
            <li>
                <a href="insurance">Insurance Agents</a>
            </li>
            <li>
                <a href="detectives">Detectives</a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <div>
                <li class="profile">
                    <a th:href="@{'/profile'}" class="btn btn-dark" id="profile" type="submit">Profile</a>
                </li>
                <br><br>
                <li class="logOut">
                    <a th:href="@{'/logout'}" class="btn btn-dark" id="logOut" type="submit">Log out</a>
                </li>
            </div>
        </ul>
    </nav>
    <!--Page Content-->


    <div id="content">
        <div class="card-container" style="text-align: center" >
            <div class="card" style="width: 32rem; display: inline-block;">
                <img class="card-img-top" src="resources/logo_nav_black.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Client Profile</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Name</b></li>
                    <li class="list-group-item" th:text="${client.firstName} + ' ' + ${client.lastName}"></li>
                    <li class="list-group-item"><b>Username</b></li>
                    <li class="list-group-item" th:text="${client.login.username}"></li>
                    <li class="list-group-item"><b>Email</b></li>
                    <li class="list-group-item" th:text="${client.email}"></li>
                    <li class="list-group-item"><b>Phone</b></li>
                    <li class="list-group-item" th:text="${client.phone}"></li>
                </ul>
                <div class="card-body">

                </div>
            </div>
        </div>
        <br><br>   <br><br>
        <div th:if="${not #lists.isEmpty(providers)}">
            <table class="table table-striped table-dark table-hover">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Mail</th>
                    <th>Service</th>
                    <th>Gender</th>
                    <th>Minimun Price</th>
                    <th>Maximum Price</th>
                    <th>Buy Service</th>

                </tr>
                <tr th:each="provider : ${providers}">
                    <td th:text="${provider.firstName}"></td>
                    <td th:text="${provider.lastName}"></td>
                    <td th:text="${provider.phone}"></td>
                    <td th:text="${provider.email}"></td>
                    <td th:text="${provider.roleType.desc}"></td>
                    <td th:text="${provider.gender}"></td>
                    <td th:text="${provider.priceMin}"></td>
                    <td th:text="${provider.priceMax}"></td>
                    <td><a href="buy" class="btn btn-dark" style="background-color: hotpink">Buy</a></td>

                </tr>
            </table>
        </div>
    </div>
    <!--JS Scripts Dependencies-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="js/userPage.js"></script>
    </nav>
</div>
</div>

<!--Copyright footer -->
<footer class="py-2 bg-dark">
    <div class="container">
        <p class="m-0 text-center" style="color: white;">Copyright &copy; Quarentinos 2020</p>
    </div>
</footer>

</body>

</html>