
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}


body,
html {

    font-family: Futura,Monospaced;
    background: rgba(0, 0, 0, 0.150) !important;
}

header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.725);
    height: 100px;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 1.0;
    z-index: 1;
}





  